$fontSize : 20px;
$mainFontColor: #F3DFC1;
$primaryColor: #160F29;
$secondaryColor: #246A73;



body {
  margin: 0;
  background:$primaryColor;
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    // background: $secondaryColor;
    padding: 20px;
    border-radius: 5px;
  }
}

@media (max-width: 1200px) {
  body {
    .App {
      width: 60%;
    }
  }
}

@media (max-width: 630px) {

  body {
    .App {
      position: relative;
      top:unset;
      left: unset;
      transform: unset;
      padding: 20px 10px;
      margin: auto;
      width: 95%;
    }
  }

}