@import './App.scss';

// common style for input and select
@mixin selectInput{
    padding: 5px;
    border: none;
    font-size: $fontSize;
    background: $mainFontColor;
    width: 250px;
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}


.Converter {
    display: flex;
    align-items: center;
    flex-direction: column;
    width:  fit-content;
    height: 200px;
    justify-content: space-between;
    width: 100%;
    .selectCurrency {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        width: calc(100% + 50px);
        .singleCurrency {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 75px;
            .selector {
                select {
                    @include selectInput;
                }
                
            }
            .valueInput {
                input {
                    @include selectInput;
                }
               
                /* hide arrows */
                /* Chrome, Safari, Edge, Opera */
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                /* Firefox */
                input[type=number] {
                    -moz-appearance: textfield;
                }
            }
        }
        .mixArrows {
            color: $mainFontColor;
            font-size: 20px;
            cursor: pointer;
        }
     }
     .result {
        font-size: $fontSize;
        color: $mainFontColor;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .resultTitle {
            text-align: center;
            font-size: 30px;
        }
     }
}

@media (max-width: 920px) {

.Converter {
    height: unset;
    .selectCurrency {
        height: 200px;
        flex-direction: column;
        width: 100%;
        .singleCurrency {
           
            .selector {
                select {
                    @include selectInput;
                }
                
            }
            .valueInput {
               
            }
        }
        .mixArrows {
            
        }
     }
     .result {
        height: 140px;
        font-size:17px;
        .resultTitle {
        }
        
     }
}

}
