
.Trends {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .highcharts-container{
        width: 100% !important;
    }

    .highcharts-root{
        width: 100% !important;
    }
}
